@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
}

.App {
  margin: auto;
  width: 500px;
}

.background {
  margin-top: 3rem;
  width: inherit;
  position: relative;
}

.background--backdrop {
  width: inherit;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.background--profile__photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(87, 87, 87);
  border-radius: 50%;
}
