@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
}

.App {
  margin: auto;
  width: 450px;
  background-color: white;
}

/* Background and Profile Photo */

.background {
  margin-top: 3rem;
  width: inherit;
  position: relative;
}

.background--backdrop {
  width: inherit;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.background--profile__photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(87, 87, 87);
  border-radius: 50%;
}

/* Bio */
.bio {
  margin-top: 6rem;
  padding: 0 2rem;
}

.bio--name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.bio--description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  margin-top: 0;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.info--location-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 1rem;
}

.info--location,
.info--email {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.info--location__icon,
.info--email__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}
